/* ##### START: HomePage CSS ##### */

/* Homepage wrapper wrapping around homepage: */
.homePage_wrapper {
    display: grid;
    width: 1000px;
    margin: auto;
  
    grid-template-columns: 495px 495px; 
    grid-template-rows: 100px 490px 60px; 
    gap: 20px 10px; 
    grid-template-areas: 
      "homePageHeader homePageHeader"
      "summaryContent routingContent"
      "homePageFooter homePageFooter";
  }

/* Header of the HomePage*/
.homePageHeader {
    grid-area: homePageHeader;
    justify-content: center;
    display: flex;
}
.homePageHeader img{
    object-fit: contain;
}



/* Left summary content of HomePage */
.summaryContent {
    grid-area: summaryContent;
    background-color: #666666;
    padding: 20px;
}
.summaryInfoUser {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.summaryInfoUser img {
    height: 120px;
    width: 120px;
}
.summaryInfoUser p {
    font-size: 20px;
    margin: 0px;
}
.summaryRecentWorkouts p {
    font-size: 20px;
    margin: 0px;
}
.summaryWorkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 20px 0;
    padding: 5px;
    width: 75%;
}
.summaryWorkout img {
    width: 60px;
    margin-right: 20px;
}
.summaryWorkout a {
    color: deepskyblue;
    font-size: 12px;
}
.summaryWorkout p {
    color: black;
    font-size: 10px;
}




/* Right routing content of HomePage */
.routingContent {
    grid-area: routingContent;
    background-color: #333333;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.routingContent a{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    text-decoration: none;
    height: 70px;
    width: 60%;
}

.routingContent a button {
    background-color: #666666;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    height: 100%;
    width: 100%;
}
#signoutButton{
    height: 50px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Footer of the HomePage*/
.homePageFooter {
    grid-area: homePageFooter;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.homePageFooter p {
    font-style: italic;
    font-size: 12px;
}
.footerImgs{
    display: flex;
    justify-content: center;
    gap: 20px;  
}
.footerImgs a, .footerImgs img {
   width: 20px;
   height: 20px;
}


/* ##### END: HomePage CSS ##### */